/*
 * Kakao
 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import "https://fonts.googleapis.com/css?family=Baloo+Tamma|Source+Sans+Pro:300,300i,400,400i,700,700i|Source+Code+Pro|Lora:400,400i,700,700i|Montserrat|Open+Sans:300,400";
@font-face {
    font-family: 'Kakao';
    font-style: normal;
    font-weight: 400;
    src: local('Kakao Regular'), local('KakaoOTF Regular'),
    url(KakaoOTF-bRg.eot) format('eot'),
    url(KakaoOTF-bRg.woff2) format('woff2'),
    url(KakaoOTF-bRg.woff) format('woff'),
    url(KakaoOTF-bRg.otf) format('opentype');
}

@font-face {
    font-family: 'Kakao';
    font-style: normal;
    font-weight: 200;
    src: local('Kakao Light'), local('KakaoOTF Light'),
    url(KakaoOTF-aLt.eot) format('eot'),
    url(KakaoOTF-aLt.woff2) format('woff2'),
    url(KakaoOTF-aLt.woff) format('woff'),
    url(KakaoOTF-aLt.otf) format('opentype');
}

@font-face {
    font-family: 'Kakao';
    font-style: normal;
    font-weight: 700;
    src: local('Kakao Bold'), local('KakaoOTF Bold'),
    url(KakaoOTF-cBd.eot) format('eot'),
    url(KakaoOTF-cBd.woff2) format('woff2'),
    url(KakaoOTF-cBd.woff) format('woff'),
    url(KakaoOTF-cBd.otf) format('opentype');
}

/*-------------------------------------------------------*/
/*
 * NanumCoding
 */
@font-face {
    font-family: 'NanumCoding';
    font-style: normal;
    font-weight: 400;
    src: local('NanumGothicCoding'),
    url(NanumCoding.eot) format('eot'),
    url(NanumCoding.woff) format('woff2'),
    url(NanumCoding.woff) format('woff'),
    url(NanumCoding.otf) format('opentype');
}

@font-face {
    font-family: 'NanumCoding';
    font-style: normal;
    font-weight: 700;
    src: local('NanumGothicCoding'),
    url(NanumCoding-Bold.eot) format('eot'),
    url(NanumCoding-Bold.woff) format('woff2'),
    url(NanumCoding-Bold.woff) format('woff'),
    url(NanumCoding-Bold.otf) format('opentype');
}
